@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');
body{
    font-family: 'Poppins';
    background-color: rgb(12, 12, 12);
    
}


.card{
    margin-top: 30px;
    margin-left: 15%;
    color: aliceblue;
    display: flex;
   max-width: 70vw;
    height: 55vh;
    background-color: rgb(18, 19, 22);
    flex-direction: column;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    
}

.card img{
    opacity: 80%;
    border-radius: 40px;
    max-width: 60%;
    max-height:70%;
    margin-bottom: 30px;

}
.card h1{
    color:white;
    font-size: 20px;
}
span{
    color: rgb(31, 86, 134);
    font-size: 50px;
    font-weight: bold;
}
h1{
    margin: auto;
    padding: auto;
    text-align: center;
    color: rgb(31, 86, 134);
}
